In [ ]:
# Data Science with Python

# Application of data science


#Steps
# Steps1: Import necessary libraries
# Step2: Loading the dataset
# Step3: Data cleaning and preprocessing
# Step4: EDA Expolatory Data Analysis
# Distribution students with Age and whether they have girlfriend or boyfriend
# Gender who have boyfriend and girlfriend
# Do you eat, age, gender and gf and bf
# Living allowance and gf and bf
# Those with bf and bf if the have siblings, 
# the no meals taken and the living allowance
# Careers and bf or gf
# Correction Heatmaps, correlation matriix and plot the heatmaps


# Decision making/ insigths of the data, data analysis conclusions

#1: Age and gf or bf
#2: Gender and gf or bf
#3: Correction analysis

:

In [ ]:
# Data cleaning
# Check for missing values
print(df.isnull().sum())

# Drop rows with missing values
df = df.dropna()

# Check for duplicates
print(df.duplicated().sum())

# Drop duplicates
df = df.drop_duplicates()

In [ ]:
# Remove comma (",") and convert to float
df['column_name'] = df['column_name'].str.replace(',','').astype(float)

# Fill missing values for 'Age' with the median age
df['living_allowance'].fillna(df['living_allowance'].median(), inplace=True)